<!DOCTYPE HTML>
<html>
	<head>
		<title>SMS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<%= stylesheet_link_tag    "scholarship", :media => "all" %>

		
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					
					<nav id="nav">
						<ul>
							<li><a href="/scholars">Scholarship</a></li>
							<li><a href="/tests">Test </a></li>
							<li><a href="syllabus.html">Syllabus</a></li>
							<li>
								<a href="/">Home</a>
							</li>
							<li><a href="/users/sign_up" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Scholars Bay</h2>
							<p>We help you walk through your way<br />
							To reach the stars of your desire.</p>
						</header>
						<span class="image"><img src="scholarship_img.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>About</h2>
										<p>Worried about Paying your fees?We are here to help you out.</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>This is a place where you can access all available scholarships in your college.It allows Your to find the best scholarship for your criteria.</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p></p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="images/pic03.jpg" alt="" height="620" width="413" /></span>
					<div class="content">
						<header>
							<h2>CM Award</h2>
							<p>Scholarship For District Toppers</p>
						</header>
						<p>Are you a District topper? Then You are by default eligible for this Scholarship. Avail it before You Miss out.</p>
						
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>First Graduate</h2>
							<p></p>
						</header>
						<p>A great oppurtunity for the first graduates.</p>
						
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Communicate with us</h2>
							<p>Ways to get through in our society</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-area-chart"></span>
									<h3>Provider</h3>
									<p>Are You a Scholarship Provider?Do Update Your Criteria Here.</p>
									<a href="/scholars/new" class="button special">Add Scholarship</a>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3>Student</h3>
									<p>Join our community to Help Out your fellow Buddies. </p>
									<a href="/tests/new" class="button special">Contribute</a>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3>Got a Query</h3>
									<p>We're listening. Send feedback, criticism or simply say hi!.</p>
									<a href="https://github.com/fsftn" class="button special">Mailing Us</a>
								</section>
								
							</div>
						</div>
						
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Join Our Mailing List</h2>
							<p>Receive updates About New Scholarships</p>
						</header>
						<form method="post" action="#" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
							</div>
						</form>
					</div>
				</section>
				<div>
				<br>
				<br>
				<br>
				
				</div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/FSFTamilnadu" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/fsftn" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						
					</ul>
					
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
